---
layout: default
---
<header>
   <h1 class="site-title">
    {% if site.title_image %}
      <a href="{{ '/' | relative_url }}">
        <img src="{{ site.title_image | relative_url }}" alt="{{ site.title | escape }}">
      </a>
    {% else %}
      {{ site.title }}
    {% endif %}
  </h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<script type="text/javascript" src="https://pub18.bravenet.com/counter/code.php?id=407204&usernum=1507803425&cpv=3"></script>

<img src="https://counter18.bravenet.com/counter.php?count=1&type=182&cpv=3&key=09cdb0e646c62b55e9afa9fea146b2f5" alt="Bravenet Hit Counter">